// All themes need a file called `ui-variables` that extends from the base
// variables and overrides colors, padding, etc. Other plugins import
// `ui-variables` to make their custom CSS react to the current theme.
@import 'base/ui-variables';

// Default
@sidebar: #13191C;
@accent: #4DB6AC;


@accent-primary: @accent;
@threadlist-bg: #F7F9F9;
@messagelist-bg: tint(@sidebar, 95%);
@active-thread-text: @sidebar;
@sidebar-text: desaturate(lighten(@sidebar, 40%), 75%);
@active-sidebar-text: #ffffff;
@border-color: fade(@sidebar, 10%);
@danger: #ff5f56;
@minimize: #fbd852;
@maximize: #8dd07d;
@swipe-archive: #8dd07d;
@swipe-snooze: #fbd852;
@swipe-trash: @danger;
@invalid: @danger;

@sidebar-margin: 10px;